/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Roboto:wght@100;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.container {
  width: 100%;
  height: 100%;
  background: #08002D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 60px 15px;

  }
  .box {
  width: 800px;
  height: 100%;
  text-align : center;
  font-family: 'Roboto', sans-serif;

  }
  .img-fluid{
    width: 360px;
    height: 100%;
    padding: 20px 20px;

  }
  .headline h2{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 1.3em;

  }
  .headline h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;

  }
    
 .a-btn{
    text-decoration:none;
    margin:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    color: #000000;
    outline:0;
    line-height:1;
    text-align:center;
    position:relative!important;
    display:inline-block!important;
    border-style:solid;
    width:100%;
    padding-left:0!important;
    padding-right:0!important;
    margin-top: 20px;
    padding:28px 45px;
    border-radius: 15px;
    background: #FFDE00;
    text-align:center;

  }
  
  .a-btn:hover {
      background-color: #1890FF;
      color: #ffffff;
  }    

.span-btn{
    text-decoration:none;
    margin:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    display:block;
    position:relative;
    padding:0 15px;
    white-space:normal;
    font-size:25px;
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight:800;
}
.span-btn2{
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    display:block;
    position:relative;
    margin:.2em 0 -.5em;
    font-size:20px;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-style:italic;
}
  
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 14px;
  font-style: italic;
  color: #f10e47;
  padding: 8px 16px;
  margin: 14px;
}


.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
.footer{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #707070;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }

}
